/* App.css */
body {
  font-family: 'Comic Sans MS', sans-serif;
  background-color: #000; /* Black background */
  color: #ff69b4; /* Pink text */
  margin: 0;
  padding: 0;
  text-align: center;
}

h1 {
  color: #ff69b4; /* Pink text */
  font-size: 2.5em;
  margin-top: 20px;
}

button {
  background-color: #ff69b4; /* Pink background */
  border: none;
  border-radius: 10px;
  color: #000; /* Black text */
  padding: 10px 20px;
  font-size: 1em;
  cursor: pointer;
  margin: 10px;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #ff1493; /* Darker pink on hover */
}

img {
  max-width: 90%;
  height: 300px; /* Set the desired height */
  object-fit: cover; /* Maintain aspect ratio and cover the area */
  border-radius: 15px;
  margin: 10px 0;
  box-shadow: 0 4px 8px #e6e64d8c; /* Yellow shadow */
}

.container {
  padding: 20px;
  color: black;
}

/* Additional styling for other elements */
.image-loader-container {
  background-color: #000; /* Black background */
  color: #ff69b4; /* Pink text */
  text-align: center;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(255, 255, 0, 0.2); /* Yellow shadow */
}

